body {
    font-family: sans-serif;
    background-color: #65A6D1;
}

h1 {
    text-align: center;
    font-family: Arial black, Helvetica, sans-serif;
    font-size: 67px;
}

iframe {
    margin: 7px;
    box-shadow: 10px 5px 10px black;
    border-radius: 10px;
    float: left;
}

footer {
    height: 700px;
    color: #3E97D1;
}
